
	<!-- copy rights start here -->
	<div class="copyw3-agile">
		<div class="container">
			<div class="social-w3lsicon footer-w3icons">
				<a href="https://instagram.com/kenyanlifestyle"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/kenyanlifestyle"><i class="fa fa-twitter"></i></a>
			</div>
			<p>© 2018 KenyanLifestyle. All Rights Reserved <br> Design & Development by  <a href="http://weib.herokuapp
			.com/" target="_blank">Weib Solutions</a> </p>
		</div>
	</div>
	<!-- //copy right end here -->
